@use '../utils/' as *;

.slider {
    display: flex;
    justify-content: center;
    
    &_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            @include breakpoint-down(medium) {
                box-shadow: 1px 2px 4px rgba(143, 143, 143, 0.5);
            }
            
            &:hover {
                cursor: pointer;
                box-shadow: 1px 2px 4px rgba(143, 143, 143, 0.5);
            }
        }
    }
    
    .card-container {
        position: relative;
        display: flex;
        width: 40rem;
        height: 20rem;
        overflow: hidden;

        @include breakpoint-down(medium) {
            width: 30rem;
            height: 15rem;
        }

        @include breakpoint-down(small) {
            max-width: 20rem;
            max-height: 15rem;
        }

        .card {
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            transition: all 2s;
    
            &_image {
                width: 10rem;
                height: 10rem;
                background-position: center;
                border: lightblue 5px solid;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 2px 6px 10px 0px rgba(143, 143, 143, 0.75);

                @include breakpoint-down(medium) {
                    width: 5rem;
                    height: 5rem;
                }
                @include breakpoint-down(small) {
                    max-width: 4rem;
                    max-height: 4rem;
                }
            }
    
            &_name {
                margin-top: 1rem;

                @include breakpoint-down(medium) {
                    font-size: 1rem;
                }
            }
            
            &_title {
                margin-bottom: 1rem;

                @include breakpoint-down(medium) {
                    font-size: .6rem;
                }
            }
    
            &_quote {
                .quote {
                    text-align: center;
                    max-width: 90%;
                    margin: 0 auto;
                    position: relative;
                    min-height: rem(72px);
                    
                    @include breakpoint-down(medium) {
                        font-size: .7rem;
                    }
                }

                .quote-icon {
                    position: absolute;
                    width: rem(30px);
                    height: rem(30px);
                    left: rem(30px);
                    top: rem(225px);
                    opacity: .3;
                    color: lightblue;

                    @include breakpoint-down(medium) {
                        left: rem(30px);
                        top: rem(130px);
                    }

                    @include breakpoint-down(small) {
                        left: rem(10px);
                        top: rem(120px);
                    }
                }

                .quote-right {
                    left: initial;
                    top: initial;
                    right: rem(40px);
                    bottom: rem(5px);

                    @include breakpoint-down(medium) {
                        right: rem(30px);
                        bottom: rem(20px);
                    }

                    @include breakpoint-down(small) {
                        right: rem(20px);
                        bottom: rem(5px);
                    }
                }
            }

        }
        .last-slide {
            transform: translateX(-100%);
            opacity: 0;
        }

        .active-slide{
            transform: translateX(0);
            opacity: 1;
        }
        
        .next-slide {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}